$color_1: #212529;
$color_2: #303133;
$font_family_1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$background_color_1: #fff;
$background_color_2: #dbdbdb;

body {
	margin: 0;
	font-family: $font_family_1;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $color_1;
	text-align: left;
	background-color: $background_color_1;
}
.navbar {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.ui-card {
	background-color: $background_color_1;
	color: $color_2;
	border: 1px solid #e4e7ed;
	border-radius: 0.6em;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	height: 100%;
	word-wrap: break-word;
	background-clip: border-box;
}
.ui-card.ui-card--shadow-always {
	-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}
.ui-card.ui-card--shadow {
	-webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
	-o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
	transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
	&:hover {
		-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
		box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
	}
}
.card-title {
	font-weight: 700;
	margin-bottom: 0.75rem;
}
.card-footer-item {
	a {
		&:hover {
			background-color: $background_color_2;
		}
		&:first-child {
			&:hover {
				border-bottom-left-radius: 0.6em;
				-webkit-border-bottom-left-radius: 0.6em;
				background-color: $background_color_2;
			}
		}
		&:last-child {
			&:hover {
				border-bottom-right-radius: 0.6em;
				-webkit-border-bottom-right-radius: 0.6em;
				background-color: $background_color_2;
			}
		}
	}
}
.card-image {
	img {
		border-radius: 0.6em 0.6em 0 0;
		box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.3);
	}
}
.card-link {
	&+.card-link {
		margin-left: 1.25rem;
	}
}
.card-content {
	height: 100%;
}

.is-blue {

}