/* Minimal-ui.css v1.0.0 | MIT License | github.com/vedees/minimal-ui.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
code,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img,
audio,
video {
  height: auto;
  max-width: 100%;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
textarea {
  resize: none;
}
input,
select,
button {
  outline: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
.bg-primary {
  background-color: #444ce0;
}
.bg-success {
  background-color: #26de81;
}
.bg-danger {
  background-color: #fc5c65;
}
.bg-warning {
  background-color: #fed330;
}
.bg-light {
  background-color: #999;
}
.bg-purple {
  background-color: #8854d0;
}
.bg-neutral-primary {
  background-color: #303133;
}
.bg-neutral-regular {
  background-color: #606266;
}
.bg-neutral-secondary {
  background-color: #909399;
}
.bg-neutral-placeholder {
  background-color: #c0c4cc;
}
.bg-border-base {
  background-color: #dcdfe6;
}
.bg-border-light {
  background-color: #e4e7ed;
}
.bg-border-lighter {
  background-color: #ebeef5;
}
.bg-border-lightex {
  background-color: #f2f6fc;
}
html {
  line-height: 1.4;
  font-size: 18px;
  color: #101010;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }
}
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 18px;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #333;
}
section,
.section {
  position: relative;
  padding: 54px 0;
}
@media screen and (max-width: 1280px) {
  section,
  .section {
    padding: 36px 0;
  }
}
@media screen and (max-width: 768px) {
  section,
  .section {
    padding: 22px 0;
  }
}
@media screen and (max-width: 480px) {
  section,
  .section {
    padding: 16px 0;
  }
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}
.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.content-wrapper.content-wrapper--sidebar {
  padding-left: 240px;
  padding-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .content-wrapper.content-wrapper--sidebar {
    padding-left: 56px;
    padding-bottom: 0;
  }
}
.content-wrapper.content-wrapper--fix-header {
  padding-top: 80px;
}
.container {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2.222222222222222rem;
}
@media screen and (max-width: 980px) {
  .container {
    max-width: 768px;
    padding: 0 1.111111111111111rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 480px;
    padding: 0 0.888888888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 320px;
    padding: 0 0.555555555555556rem;
  }
}
.container.container--small {
  max-width: 768px;
}
@media screen and (max-width: 980px) {
  .container.container--small {
    max-width: 480px;
  }
}
.container-fluid {
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
.center {
  text-align: center;
}
.ui-title-1,
.ui-title-2,
.ui-title-3,
.ui-title-4 {
  display: block;
  font-weight: normal;
  color: #101010;
  margin-bottom: 0.4em;
}
.ui-title-1 {
  font-size: 50px;
}
@media screen and (max-width: 980px) {
  .ui-title-1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .ui-title-1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .ui-title-1 {
    font-size: 30px;
  }
}
.ui-title-2 {
  font-size: 40px;
}
@media screen and (max-width: 980px) {
  .ui-title-2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .ui-title-2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  .ui-title-2 {
    font-size: 24px;
  }
}
.ui-title-3 {
  font-size: 30px;
}
@media screen and (max-width: 980px) {
  .ui-title-3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .ui-title-3 {
    font-size: 21px;
  }
}
@media screen and (max-width: 480px) {
  .ui-title-3 {
    font-size: 18px;
  }
}
.ui-title-4 {
  font-size: 1.333333333333333rem;
}
@media screen and (max-width: 980px) {
  .ui-title-4 {
    font-size: 1.066666666666667rem;
  }
}
@media screen and (max-width: 768px) {
  .ui-title-4 {
    font-size: 0.933333333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .ui-title-4 {
    font-size: 0.8rem;
  }
}
.ui-text-regular {
  font-size: 1rem;
  color: #606266;
}
.ui-text-small {
  font-size: 0.888888888888889rem;
  color: #909399;
}
.ui-text-smaller {
  font-size: 0.777777777777778rem;
  color: #c0c4cc;
}
.ui-text-hide {
  color: #c0c4cc;
}
.ui-highlight {
  font-weight: 700;
  padding: 0.4px 3px;
  margin: 0 6px;
  background-color: #fed330;
}
.fadeInDown {
  -webkit-animation: fadeInDown 0.3s;
          animation: fadeInDown 0.3s;
}
.fadeOutUp {
  -webkit-animation: fadeOutUp 0.3s;
          animation: fadeOutUp 0.3s;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.sidebar {
  width: 240px;
  height: 96vh;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 80px;
  overflow-x: scroll;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: 10;
}
@media screen and (max-width: 480px) {
  .sidebar {
    left: -240px;
  }
}
.sidebar.full {
  width: 100%;
  background-color: #fff;
}
.sidebar-open-button {
  display: none;
  position: fixed;
  top: 90px;
  left: 10px;
  z-index: 20;
}
@media screen and (max-width: 480px) {
  .sidebar-open-button {
    display: block;
  }
}
.sidebar-content {
  padding: 40px 0;
  color: #606266;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
@media screen and (max-width: 480px) {
  .sidebar-content {
    padding: 20px 30px;
  }
}
.sidebar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.111111111111111rem auto;
}
.sidebar-item {
  position: relative;
  line-height: 2.1;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.sidebar-item,
.sidebar-link {
  font-size: 1rem;
  color: #606266;
}
.sidebar-item:hover,
.sidebar-link:hover {
  color: #303133;
}
.navbar {
  background-color: #fff;
  min-height: 80px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.navbar.navbar--black {
  background-color: #222;
}
.navbar.navbar--black .navbar-item,
.navbar.navbar--black .navbar-link {
  color: #fff;
}
.navbar.navbar--black .button-burger .line {
  background-color: #fff;
}
.navbar.navbar--transparent {
  background-color: transparent;
}
.navbar.navbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}
.navbar-content .button-burger {
  display: none;
  z-index: 442;
}
@media screen and (max-width: 480px) {
  .navbar-content .button-burger {
    display: block;
  }
}
.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .navbar-list__wrapper {
    display: none;
  }
}
.navbar-list__wrapper.active {
  display: block;
  position: fixed;
  top: 81px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: #fff;
}
.navbar-list__wrapper.active .navbar-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-list__wrapper .navbar-item {
  padding-right: 20px;
}
.navbar-list__wrapper .navbar-item:last-child {
  padding-right: 20px;
}
.navbar-item,
.navbar-link {
  display: block;
  position: relative;
  padding: 0.5rem 0.75rem;
  color: #333;
  cursor: pointer;
}
.navbar-item.navbar-item--white,
.navbar-link.navbar-item--white,
.navbar-item.navbar-link--white,
.navbar-link.navbar-link--white {
  color: #fff;
}
.navbar-item:hover,
.navbar-link:hover,
.navbar-item.active,
.navbar-link.active {
  background-color: transparent;
  color: #000;
}
.navbar-item:last-child,
.navbar-link:last-child {
  padding-right: 0;
}
.ui-card {
  background-color: #fff;
  padding: 1.666666666666667rem;
  color: #303133;
  border: 1px solid #e4e7ed;
  border-radius: 0.6em;
}
.ui-card.ui-card--shadow-always {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
          box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}
.ui-card.ui-card--shadow {
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.ui-card.ui-card--shadow:hover {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
          box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}
.ui-label {
  padding: 0.333333333333333rem 1rem;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
}
.ui-label--primary {
  background-color: #444ce0;
}
.ui-label--success {
  background-color: #26de81;
}
.ui-label--danger {
  background-color: #fc5c65;
}
.ui-label--warning {
  background-color: #fed330;
}
.ui-label--light {
  background-color: #999;
}
.ui-label--purple {
  background-color: #8854d0;
}
.ui-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  line-height: 1.5em;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.ui-table td {
  padding: 14px;
  border-bottom: 1px solid #ebeef5;
}
.ui-table td:first-child {
  padding-right: 20px;
}
.ui-table thead th {
  padding: 14px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px solid #e4e7ed;
}
.ui-table thead:first-child {
  padding-left: 20px;
}
.ui-table.ui-table--hover tbody tr:hover {
  background-color: #f2f6fc;
}
.button {
  display: inline-block;
  padding: 0.4em 1em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 15.120000000000001px;
  }
}
@media screen and (max-width: 480px) {
  .button {
    font-size: 13.68px;
  }
}
.button:hover {
  opacity: 0.8;
}
.button.button--big {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .button.button--big {
    font-size: 16.28px;
  }
}
@media screen and (max-width: 480px) {
  .button.button--big {
    font-size: 14.52px;
  }
}
.button.button--large {
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  .button.button--large {
    font-size: 18.72px;
  }
}
@media screen and (max-width: 480px) {
  .button.button--large {
    font-size: 16.64px;
  }
}
.button.button--plain {
  background-color: transparent;
}
.button.button--plain:hover {
  color: #fff;
}
.button.button--round {
  border-radius: 1.2em;
  padding: 0.48em 1.2em;
}
.button.button--disable {
  opacity: 0.6;
  cursor: not-allowed;
  background-image: none;
}
.button-default {
  color: #333;
  border: 1px solid #dcdfe6;
  background-color: #fff;
}
.button-default.button--plain {
  color: #333;
}
.button-default.button--plain:hover {
  background-color: #333;
}
.button-primary {
  background-color: #444ce0;
}
.button-primary.button--plain {
  color: #444ce0;
  border: 1px solid #444ce0;
}
.button-primary.button--plain:hover {
  background-color: #444ce0;
}
.button-success {
  background-color: #26de81;
}
.button-success.button--plain {
  color: #26de81;
  border: 1px solid #26de81;
}
.button-success.button--plain:hover {
  background-color: #26de81;
}
.button-danger {
  background-color: #fc5c65;
}
.button-danger.button--plain {
  color: #fc5c65;
  border: 1px solid #fc5c65;
}
.button-danger.button--plain:hover {
  background-color: #fc5c65;
}
.button-warning {
  background-color: #fed330;
}
.button-warning.button--plain {
  color: #fed330;
  border: 1px solid #fed330;
}
.button-warning.button--plain:hover {
  background-color: #fed330;
}
.button-light {
  background-color: #999;
}
.button-light.button--plain {
  color: #999;
  border: 1px solid #999;
}
.button-light.button--plain:hover {
  background-color: #999;
}
.button-close {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.button-close:hover {
  opacity: 1;
}
.button-close:before,
.button-close:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.button-close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.button-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.button-burger {
  position: relative;
  width: 34px;
  height: 16px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.button-burger:hover .line-1,
.button-burger:focus .line-1 {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}
.button-burger:hover .line-3,
.button-burger:focus .line-3 {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}
.button-burger.active .line-1 {
  -webkit-transform: translateY(8.33px) translateX(0) rotate(45deg);
      -ms-transform: translateY(8.33px) translateX(0) rotate(45deg);
          transform: translateY(8.33px) translateX(0) rotate(45deg);
}
.button-burger.active .line-2 {
  opacity: 0;
}
.button-burger.active .line-3 {
  -webkit-transform: translateY(-8.33px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-8.33px) translateX(0) rotate(-45deg);
          transform: translateY(-8.33px) translateX(0) rotate(-45deg);
}
.button-burger .line {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #333;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.button-burger .line.line--white {
  background-color: #fff;
}
.button-burger .line-1 {
  top: 0%;
}
.button-burger .line-2 {
  top: 50%;
}
.button-burger .line-3 {
  top: 100%;
}
label,
legend {
  display: block;
  font-size: 1.111111111111111rem;
  margin-bottom: 0.5rem;
}
.label--inline {
  display: inline-block;
}
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 2.222222222222222rem;
  padding: 0.555555555555556rem 0.777777777777778rem;
  background-color: transparent;
  border: 1px solid #dcdfe6;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  border-radius: 0.6em;
}
fieldset,
input,
select,
textarea {
  margin-bottom: 1.111111111111111rem;
}
select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='14' viewBox='0 0 29 14' width='29'><path fill='#d1d1d1' d='M9.37727 3.625l5.08154 6.93523L19.54036 3.625'/></svg>") center right no-repeat;
  padding-right: 0.777777777777778rem;
}
textarea {
  min-height: 3.888888888888889rem;
}
.ui-checkbox-wrapper {
  position: relative;
  cursor: pointer;
}
.ui-checkbox-wrapper input,
.ui-checkbox-wrapper label,
.ui-checkbox-wrapper .label--inline {
  margin-bottom: 0;
}
.ui-checkbox {
  width: 1rem;
  height: 1rem;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .ui-checkbox {
    top: 2px;
  }
}
.ui-checkbox:before {
  width: 1rem;
  height: 1rem;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.ui-checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 0.5rem;
  border: 2px solid #444ce0;
  border-radius: 0;
  border-top-style: none;
  border-right-style: none;
}
.ui-checkbox:after {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -0.111111111111111rem;
  left: 0;
  content: "";
  background: #fff;
  cursor: pointer;
}
.ui-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.42em 0.4em;
  margin-bottom: 1em;
  border-radius: 0.6em;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .ui-alert {
    font-size: 15.120000000000001px;
  }
}
@media screen and (max-width: 480px) {
  .ui-alert {
    font-size: 13.68px;
  }
}
.ui-alert .button-close {
  z-index: 2;
  width: 1.111111111111111rem;
  height: 1.111111111111111rem;
}
.ui-alert .button-close:before,
.ui-alert .button-close:after {
  background-color: #fff;
}
.ui-alert--primary {
  background-color: #444ce0;
}
.ui-alert--success {
  background-color: #26de81;
}
.ui-alert--danger {
  background-color: #fc5c65;
}
.ui-alert--warning {
  background-color: #fed330;
}
.ui-alert--light {
  background-color: #999;
}
.ui-alert--purple {
  background-color: #8854d0;
}
.ui-messageBox__wrapper {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2002;
  background-color: rgba(39,39,39,0.48);
}
.ui-messageBox {
  position: relative;
  min-width: 400px;
  padding: 0.666666666666667rem 0.777777777777778rem;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 0.444444444444444rem;
  z-index: 2000;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .ui-messageBox {
    min-width: 336px;
  }
}
@media screen and (max-width: 480px) {
  .ui-messageBox {
    min-width: 240px;
  }
}
.ui-messageBox .button-close {
  width: 1.222222222222222rem;
  height: 1.222222222222222rem;
}
.ui-messageBox__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.444444444444444rem;
  margin-bottom: 0.444444444444444rem;
}
.ui-messageBox__content {
  margin-bottom: 0.888888888888889rem;
}
.ui-messageBox__footer {
  text-align: right;
}
.messageBox-title {
  font-size: 1.333333333333333rem;
}
.ui-message {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 1.111111111111111rem;
  right: 10%;
  padding: 0.555555555555556rem 0.777777777777778rem;
  background-color: #fff;
  border: 1px solid #ebeef5;
  border-radius: 0.6em;
  z-index: 2000;
  overflow: hidden;
}
.ui-message.ui-message--primary {
  color: #fff;
  background-color: #444ce0;
}
.ui-message.ui-message--success {
  color: #fff;
  background-color: #26de81;
}
.ui-message.ui-message--warning {
  color: #fff;
  background-color: #fed330;
}
.ui-message.ui-message--danger {
  color: #fff;
  background-color: #fc5c65;
}
.ui-tag__wrapper {
  display: inline-block;
}
.ui-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em 1em;
  border: 1px solid #dcdfe6;
  border-radius: 0.9em;
  color: #606266;
  font-size: 18px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .ui-tag {
    font-size: 15.120000000000001px;
  }
}
@media screen and (max-width: 480px) {
  .ui-tag {
    font-size: 13.68px;
  }
}
.ui-tag .button-close {
  margin-left: 8px;
  z-index: 2;
  width: 0.777777777777778rem;
  height: 0.777777777777778rem;
}
