{% load static bulma_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %} ~ e-library</title>
  {% block css %}
    {% font_awesome %}
    <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
    <link rel="apple-touch-icon" href="{% static 'logo/logo_transparent.png' %} ">
    {% block extra_css %}{% endblock extra_css %}
  {% endblock css %}
</head>
<body class="has-navbar-fixed-top">

{% block header %}
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
          <img src="{% static 'logo/logo_transparent.png' %}" width="112">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbar-mobile">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-mobile" class="navbar-menu">
        <div class="navbar-start">

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Categories
            </a>

            <div class="navbar-dropdown">
              {% for cat in cats %}
                <a class="navbar-item">
                  {{ cat.name }}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="button is-info">Dashboard</a>
                <a href="{% url 'logout' %}" class="button is-light">Logout</a>
              {% else %}
                <a href="{% url 'register' %}" class="button is-primary">Sign up</a>
                <a href="{% url 'login' %}" class="button is-light">Log in</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block hero %}{% endblock hero %}

<section class="section">
  <div class="container">
    {% block messages %}
      {% if messages %}
        <div class="messages columns is-desktop">
          <div class="column is-6 is-offset-3">
            {% for message in messages %}
              <div class="message {% if message.tags %}is-{{ message.tags|bulma_message_tag }}{% endif %}">
                <div class="message-body">{{ message }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endblock messages %}

    {% block content_area %}
      {% block content_title %}{% endblock content_title %}
      {% block content %}{% endblock content %}
    {% endblock content_area %}
  </div>
</section>

{% block modal %}{% endblock modal %}

<footer class="footer">
  <div class="container">
    {% block footer %}
    {% endblock footer %}
  </div>
</footer>

{% block javascript %}
  {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}

</body>
</html>