{% extends 'index.html' %}

{% block content %}
  <div class="columns is-desktop">
    <div class="column is-6 is-offset-3">
      <div class="message is-warning">
        <div class="message-body">
          You have been logged out. <br>
          <a href="{% url 'login' %}" class="is-link">Log In Again</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}