{% extends 'index.html' %}
{% load bulma_tags %}

{% block title %}Register{% endblock %}
{% block content %}
  <div class="columns is-desktop">
    <div class="column is-6 is-offset-3 ">
      <form method="POST">
        {% csrf_token %}
        {{ form|bulma }}
        <div class="field">
          <button type="submit" class="button is-primary">Sign up</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}"/>
      </form>
    </div>
  </div>
{% endblock %}