{% extends 'index.html' %}

{% block title %}Books{% endblock %}

{% block content %}

  <div class="container is-fluid">
    <br><h1 class="title is-0 has-text-centered">Recommended books to read</h1><br>
    <div class="columns is-multiline">
      {% for book in books %}
        <div class="column is-mobile is-half-tablet is-one-third-desktop is-one-fifth-widescreen is-one-fifth-fullhd">
          <div class="ui-card ui-card--shadow">
            <div class="card-image">
              <figure class="image is-1by1">
              <img src="{{ MEDIA_URL }}{{ book.cover.url }}" alt="img-{{ book.id }}">
            </figure>
            </div>
            <div class="card-content">
              <h5 class="title is-6">{{ book.title }}</h5>
            </div>
            <!--<div class="">by &nbsp;<strong>{{ book.author }}</strong></div>-->
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Read</a>
              <a href="#" class="card-footer-item"></a>
            </footer>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}